{% extends "mail/layout.html" %} 
{% load static %} 


<head>
    <title>{% block title %}Mail{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mail/css/styles.css' %}">
    {% block script %}
    {% endblock %}
</head>

    {% block body %}
    <main>
        <div class="row mt-4">
            <div class="col-md-6">
                
                <div class="containerindex">
                    <h1 class="display-4">Easy to use email</h1>
                    <p class="lead">Engage in electronic communication by sending and receiving emails. This involves drafting, formatting, and dispatching messages, as well as organizing and responding to incoming emails. Utilize an email platform to write clear and structured messages, employ text formatting for emphasis, and manage your inbox efficiently.</p>
                    <a href="{% url 'register' %}" class="btn btn-primary btn-lg mr-3">Create an account</a>
                    <a href="{% url 'login' %}" class="btn btn-link btn-lg login">Log in</a>
                </div>
                <img src="" alt="">
            </div>
            <div class="col-md-6 d-none d-md-block">
                <!-- Placeholder for the right side content -->
            </div>
        </div>
        <div>
            <section class="features-section">
                <div class="feature">
                    <div class="feature-icon">&#10004;</div>
                    <h3>Seamless Integration</h3>
                    <p>Our application works great with other desktop clients and tools, including contact and event sync.</p>
                </div>
                <div class="feature">
                    <div class="feature-icon">&#128276;</div>
                    <h3>Productivity, Even Offline</h3>
                    <p>Our offline mode lets you read, reply, delete, and search your messages without an internet connection.</p>
                </div>
                <div class="feature">
                    <div class="feature-icon">&#128241;</div>
                    <h3>Accessible on Any Device</h3>
                    <p>Enjoy the ease and simplicity of our application, no matter where you are.</p>
                </div>
            </section>
        
            <section class="workspace-section">
                <div class="workspace-icons">
                    <img src="{% static 'mail/Img/mail-icon.png' %}" alt="Mail">
                    <img src="{% static 'mail/Img/calendar-icon.png' %}" alt="Calendar">
                    <img src="{% static 'mail/Img/drive-icon.png' %}" alt="File Storage">
                    <img src="{% static 'mail/Img/docs-icon.png' %}" alt="Documents">
                    <img src="{% static 'mail/Img/meet-icon.png' %}" alt="Meetings">
                </div>
                <h2>Part of Our Productivity Suite</h2>
                <p>Collaborate faster, from any device, anytime, all in one place.</p>
                <p>Our productivity suite is a set of tools that helps individuals, teams, and businesses stay on top of everything. It is a flexible, innovative solution for <span class="highlight">business</span> or personal use that includes all your favorite apps like Mail, Calendar, File Storage, Documents, Meetings, and more.</p>
                <a href="#" class="learn-more">Learn more</a>
            </section>
        </div>
    </main>

    {% endblock body %}

    {% block footer%}
    {% endblock footer %}

