{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <title>{% block title %}Mail{% endblock %}</title>
        
        <link rel="icon" href="{% static 'mail/Img/favicon.ico' %}" type="image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mail/css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
       
        <script src="{% static 'mail/js/inbox.js' %}"></script>
        {% block script %}
        {% endblock script %}
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'mail/Img/logo.png' %}" alt="Gmail Logo" class="gmail-logo">
                        <span class="email">Email</span>
                    </a>
                    <div class="ml-auto">

                        {% block conditional_login_link %}
                        <a href="{% url 'login' %}" class="btn btn-link login">Login</a>
                        {% endblock conditional_login_link %}
                        {% block conditional_register_link %}
                        <a href="{% url 'register' %}" class="btn btn-primary">Create an account</a>
                        {% endblock conditional_register_link %}
                        <a href="{% url 'inbox' %}">
                            <i class="fas fa-envelope emailicon"></i>
                        </a>
                    </div>
                </nav>
                <div class="content">
                    {% block body %}
                    {% endblock body %}
                </div>
            </div>

    <footer class="custom-footer">
        <div class="custom-footer-left">
            <!-- <img src="{% static 'mail/Img/Footer.png' %}" alt="Google Logo" class="custom-footer-logo"> -->
        </div>
        <div class="custom-footer-center">
            <a href="#" class="custom-footer-link">Privacy</a>
            <a href="#" class="custom-footer-link">Terms</a>
            <a href="#" class="custom-footer-link">About me</a>
            <a href="#" class="custom-footer-link">Projects</a>
            <a href="#" class="custom-footer-link">Policy</a>
            <a href="#" class="custom-footer-link">Privacy & Security</a>
        </div>
        <div class="custom-footer-right">
            <a href="#top" class="custom-footer-link"><i class="fas fa-arrow-up arrowup"></i></a>
            <a href="#" class="custom-footer-link"></a>
            <span class="custom-dropdown"></span>
        </div>
    </footer>
        </div>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </body>
</html>