{% extends "mail/layout.html" %}

{% block body %}


    <main>
        <div class="loginconainer">
            <div class="logincontainer">
                <h1 class="log">Login</h1>
                {% if message %}

                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>

                {% endif %}
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control small-input" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control small-input" type="password" name="password" placeholder="Password">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Login">
                </form>
            </div>
            <br>
            <div class="loginp">
                <span>
                    <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
                </span>
            </div>
        </div>
    </main>

{% endblock body %}

{% block conditional_login_link %}
    <!-- Empty block, so the link won't be shown on the login page -->
{% endblock conditional_login_link %}

{% block footer%}
{% endblock footer %}