{% extends "mail/layout.html" %}

{% block body %}


    <main>
        <div class="regcontainer">
            <h1 class="reg">Register</h1>
            {% if message %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            {% endif %}
            <div class="registerct">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control small-input" type="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input class="form-control small-input" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input class="form-control small-input" type="password" name="confirmation" placeholder="Confirm Password">
                    </div>
                    <input class="btn btn-primary" type="submit" value="Register">
                </form>
            </div>
            <div class="loginp">
                <p>Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>
            </div>
        </div>
    </main>

    

{% endblock body %}

{% block conditional_register_link %}
<!-- Empty block, so the link won't be shown on the login page -->
{% endblock conditional_register_link %}

{% block footer%}
{% endblock footer %}